{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>
        {% block title %}Django 자료실{% endblock %}
    </title>

    <link
        rel="stylesheet"
        href="{% static 'board/css/style.css' %}"
    >

    {% block extra_css %}{% endblock %}
</head>

<body>
    {% include "board/includes/header.html" %}

    <main class="main-container">
        {% include "board/includes/messages.html" %}

        {% block content %}
        {% endblock %}
    </main>

    {% include "board/includes/footer.html" %}

    <script src="{% static 'board/js/common.js' %}"></script>

    {% block extra_js %}{% endblock %}
</body>
</html>
